<template>
  <v-container>
      <v-row>
        <v-col
          v-for="n in 4"
          :key="n"
          cols="4"
        > 
        <v-card elevation="16">
          <v-img height="250" width="250" src="../../assets/logo_2.jpeg"></v-img>
        </v-card>
        </v-col>
      </v-row>
    </v-container>
</template>

<script>
export default {
  
}
</script>