<template>
  <v-footer padless app color="#4D7910" dark>
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>Trebol</strong>
      </v-col>
    </v-footer>
</template>