<template>
  <div>   
      <v-navigation-drawer
      v-model="drawer"
      app
    >
      <panel-left :drawer="drawer" v-if="drawer"></panel-left>
    </v-navigation-drawer>

    <v-app-bar fixed app color="#4D7910" prominent dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"/>
      <v-spacer></v-spacer>
      <v-app-bar-title>Trebol Holding</v-app-bar-title>
    </v-app-bar>
  </div>
</template>

<script>
import PanelLeft from './PanelLeft';
import { mapState } from "vuex";

export default {
  name:'Header',
  components: { PanelLeft },
  data: () => ({ drawer: null }),
  computed: {
    ...mapState(["template"])
  },
  methods:{
    back() { this.$router.go(-1); }
  }
}
</script>
