<template>
  <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list>
        <v-list-item>
          <v-list-item-avatar size="150">
            <v-img  src="https://randomuser.me/api/portraits/women/85.jpg"></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="title">
              Sandra Adams
            </v-list-item-title>
            <v-list-item-subtitle>sandra_a88@gmail.com</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list
        nav
        dense
      >
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-folder</v-icon>
          </v-list-item-icon>
          <v-list-item-title>My Files</v-list-item-title>
        </v-list-item>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-account-multiple</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Shared with me</v-list-item-title>
        </v-list-item>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-star</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Starred</v-list-item-title>
        </v-list-item>
      </v-list>
      <v-footer app>
        <v-btn 
          color="success" 
          block 
          text 
          outlined
          @click="signOut()"
        >
          Cerra Sesión
        </v-btn>
      </v-footer>
    </v-navigation-drawer>
</template>

<script>
import { Users } from '../../services/authentication';

export default {
  name: 'Panel-Left',
  props: ['drawer'],
  methods:{
    signOut(){
      Users.signOut()
      this.$router.push({
        name: "Login",
        // params: { id: this.supplier.slug },
      });
      
    }
  }

}
</script>