<template>
  <v-container class="text-center" >
    <v-row align="center" justify="center">
      <v-col cols="12" md="6"> 
        
        <v-form ref="form">
          <v-avatar size="100px" class="ma-5">
            <img src="../assets/trebol.png"/>
          </v-avatar>

          <v-text-field
            v-model="form.email"
            label="Correo Electrónico"
            type="email"
            :rules="[rules.required, rules.email]"
            outlined
            color="green"
            dark
          ></v-text-field>

          
          <v-text-field
              v-model="form.password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'"
              label="Contraseña"
              outlined
              @click:append="show1 = !show1"
              color="green"
              dark
            ></v-text-field>

            <v-btn 
              color="success" 
              block 
              class="ma-1" 
              rounded
              @click="singIn(form.email,form.password)"
            >
              Iniciar Sesión
            </v-btn>

            <span class="white--text">Necesitas una cuenta? <a @click="viewRegister()">Registrate</a></span>

        </v-form>
      </v-col>
    </v-row>

    <v-dialog
    v-model="alertRegister" 
    persistent 
    width="500px"
    transition="dialog-transition"
    
  >
    <v-card class="text-center">
      <v-card-title class="d-block">
        Usuario no registrado
      </v-card-title>
      <v-card-text>
        <v-btn color="success" text outlined @click="viewRegister()">registrate</v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
  </v-container>
</template>

<script>
import { Users } from '../services/authentication';
import { mapMutations } from "vuex";
// import { usuarios } from "../services/users";

export default {
  name: "login",

  data: () => ({
    alertRegister: false,
    show1: false,
    form: {
      email: '',
      password: ''
    },
    rules: {
      required: value => !!value || 'Campo requerido.',
      min: v => v.length >= 5 || 'Min 5 caracteres',
      emailMatch: () => (`El Correo y la contraseña no coinciden...Intentalo de nuevo`),
      email: v => /.+@.+\..+/.test(v) || "Correo electronico no valido",
    },
  }),

  created() {
    this.TemplateDisableHeader();
  },

  methods:{
    ...mapMutations(["TemplateDisableHeader"]),

    singIn(email,password){
      if(this.$refs.form.validate()){
        Users.signIn(email,password)
          .then(resp => {
            console.log(resp)
          })
          .catch(error => {
            console.log(error)
          })

      }
        
    },

    viewRegister(){
      this.$router.push({name: "Register"});
    }
  }
}
</script>