<template>
  <div>
    <header-bar-app />

    <proyects-holding />

    <footer-version />
  </div>
</template>

<script>
import HeaderBarApp from '../components/layout/HeaderBar';
import ProyectsHolding from '../components/main/Proyects';
import FooterVersion from '../components/layout/Footer';

export default {
  name: 'Main',
  components: { HeaderBarApp, ProyectsHolding, FooterVersion }
}
</script>