<template>
  <v-container class="text-center justify-center align-center">
    <v-row dense class="text-center justify-center align-center">
      <v-col cols="12" md="6">
        <v-card elevation="15" width="500" dark>
          <v-card-title>
            <v-btn 
              icon
              small 
              @click="back()"
            >
              <v-icon color="green" >mdi-arrow-left</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-avatar size="100px" class="ma-5">
                <img src="../assets/trebol.png"/>
              </v-avatar>

              <v-text-field
                v-model="form.name"
                label="Nombre"
                type="text"
                :rules="[rules.required,rules.letras]"
                outlined
                dense
                color="green"
              ></v-text-field>

              <v-text-field
                v-model="form.number"
                label="Número de telefono"
                type="phone"
                :rules="[rules.required, rules.solonumeros]"
                outlined
                dense
                color="green"
              ></v-text-field>

              <v-text-field
                v-model="form.email"
                label="Correo Electrónico"
                type="email"
                :rules="[rules.required, rules.email]"
                outlined
                dense
                color="green"
              ></v-text-field>

              <v-text-field
                  v-model="form.password"
                  :rules="[rules.required, rules.min]"
                  label="Contraseña"
                  outlined
                  dense
                  color="green"
                ></v-text-field>

                <v-text-field
                  v-model="form.passwordRepit"
                  :rules="[rules.required, rules.min]"
                  label="Repita contraseña"
                  outlined
                  dense
                  color="green"
                ></v-text-field>

                <v-btn 
                  color="warning" 
                  block 
                  class="ma-1" 
                  rounded 
                  @click="registerUser(form.email,form.password)"
                >
                  Registrate
                </v-btn>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <!-- Limpia y repite el registro -->
    <v-dialog
    v-model="badRegister" 
    persistent 
    width="500px"
    transition="dialog-transition"
  >
    <v-card class="text-center">
      <v-card-title class="d-block text-caption">
        Algo salió mal !! <br> Intenta de nuevo
      </v-card-title>
      <v-card-text>
        <v-btn color="error" fab x-small icon @click="clearForm()">
          <v-icon x-large>mdi-close-circle</v-icon>
        </v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
  </v-container>
</template>

<script>

import { Users } from '../services/authentication';
import { mapMutations } from "vuex";

export default {
  name: "login",
  data: () => ({
    badRegister: false,
    form: {
      name: '',
      number:'',
      email: '',
      password: '',
      passwordRepit:''
    },
    rules: {
      required: value => !!value || 'Campo requerido.',
      min: v => v.length >= 6 || 'Min 6 caracteres',
      emailMatch: () => (`El Correo y la contraseña no coinciden...Intentalo de nuevo`),
      email: v => /.+@.+\..+/.test(v) || "Correo electronico no valido",
      letras: value => {
          const letra = /^[A-Za-z\s]+$/g;
          return letra.test(value) || "Solo Letras";
        },
      solonumeros: value => {
        const soloNumeros = /^\d+$/;
        return soloNumeros.test(value) || "Número no valido...";
      },
    },
  }),
  created() {
    this.TemplateActiveHeader({
      header_type: "internal",
      label: "Registro"
    });
  },
  methods:{
    ...mapMutations(["TemplateActiveHeader"]),

    back() { this.$router.go(-1); },

    registerUser(email,password){
      if(this.$refs.form.validate()){
        Users.register(email,password)
          .then(resp => {
            if(resp.operationType === 'signIn'){
              this.$router.push({
                name: "Main",
                // params: { id: this.supplier.slug },
              });
            } else {
              this.badRegister = true
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
    },
    
    clearForm(){
      this.badRegister = false
      this.form = {
        name: '',
        number:'',
        email: '',
        password: '',
        passwordRepit:''
      }
    }
  }
}
</script>