<template>
  <v-dialog
    v-model="alert" 
    persistent 
    max-width="500px"
    transition="dialog-transition"
  >
    <v-card class="text-center">
      <v-card-title>
        Usuario no registrado
      </v-card-title>
      <v-card-action>
        <v-btn color="success" block>registrate</v-btn>
      </v-card-action>
    </v-card>
  </v-dialog>
</template>
