<template>
  <v-app>
    <v-main class="background-login ">
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
.background-login{
  background: rgb(0, 0, 0);
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
</style>
